<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Workplanner | Dev</title>
	<meta charset="UTF-8">
	<meta name="description" content="Workplanner">
	<meta name="keywords" content="Work, Time-Managment">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Favicon -->
	<link href="{{asset('img/favicon.ico')}}" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
 
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}"/>
	<link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}"/>
	<link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}"/>
	<link rel="stylesheet" href="{{asset('css/slicknav.min.css')}}"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{{asset('css/style.css')}}"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section clearfix">
		<a href="#" class="site-logo">
		</a>
		<div class="header-right">
			<div class="user-panel">
				{% if not is_granted('IS_AUTHENTICATED_FULLY')%}
					<a href="{{path('app_login')}}" class="register">Login</a>
				{% endif %}	
				{% if is_granted('IS_AUTHENTICATED_FULLY')%}
					<a href="{{path('app_logout')}}" class="register">Logout</a>
				{% endif %}
			</div> 
		</div>
		<ul class="main-menu">			
			<!--<li><a href="#">Menükarte</a></li>-->
			<!--<li><a href="#">Bestellung</a></li>-->
			<!--<li><a href="#">Contact</a></li>-->
			{% if is_granted('IS_AUTHENTICATED_FULLY')%}
				<li><a href="#">Stempeluhr</a>
					<ul class="sub-menu">
						<li><a href="{{path('app_uebersicht')}}">Übersicht</a></li>
						{% if not workEntry|default() %} <li><a href="{{path('stempelzeiten.einstempeln')}}">Einstempeln</a></li>
						{% else %} <li><a href="{{path('stempelzeiten.ausstempeln')}}">Ausstempeln</a></li> {% endif %}
						<li><a href="{{path('stempelzeiten.anzeigen')}}">Stempelzeiten</a></li>
						{% if workEntry|default() %} <li><a href="{{path('pause.anzeigen')}}">Pause</a></li> {% endif %}
					</ul>
				</li>
			{% endif %}			
			{% if is_granted('ROLE_SUPERVISOR')%}
				<li><a href="#">Supervision</a>
					<ul class="sub-menu">
						<li><a href="{{path('user_dashboard')}}">Dashboard</a></li>
						<li><a href="{{path('su_stempelzeiten.auswahl')}}">Stempelzeiten</a></li>
						<li><a href="{{path('su_stempelzeiten.erstellen')}}">Stempeluhr Eintrag erstellen</a></li>
						<li><a href="{{path('reporting.auswahl')}}">Reporting</a></li>
						<li><a href="{{path('su_pausenzeiten.show_kategorie')}}">Pausen-Kategorien</a></li>
					</ul> 
				</li>
			{% endif %}
			{% if is_granted('IS_AUTHENTICATED_FULLY')%}
				<li><a href="#">Einstellungen</a>
					<ul class="sub-menu">
						<li><a href="{{path('app_passwortaendern')}}">Passwort ändern</a></li>
					</ul>
				</li>
			{% endif %}
			{% if is_granted('ROLE_ADMIN')%}
				<li><a href="#">Administration</a>
					<ul class="sub-menu">
						<li><a href="{{path('reg')}}" class="register">Benutzer anlegen</a></li>
						<li><a href="{{path('admin.user_anzeigen')}}" class="register">Benutzer verwalten</a></li>
					</ul>
				</li>
			{% endif %}
		</ul>
	</header>
	<!-- Header section end -->

	
    {% block body %}{% endblock %}

	<footer class="navbar fixed-bottom">
		<div id="status"></div>			
	</footer>
	<!--====== Javascripts & Jquery ======-->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>
	<script src="{{asset('js/bootstrap.min.js')}}"></script>
	<script src="{{asset('js/jquery.slicknav.min.js')}}"></script>
	<script src="{{asset('js/owl.carousel.min.js')}}"></script>
	<script src="{{asset('js/mixitup.min.js')}}"></script>
	<script src="{{asset('js/main.js')}}"></script>
	<script src="{{asset('js/status.js')}}"></script>
    <script src="{{asset('js/userdashboard.js')}}"></script>
	<script language="javascript">
		var routeStatus = "{{path('status')}}";
		setInterval(getStatus ,1000);
	</script>

	
	{% block footer %}{% endblock %}

	

	</body>
</html>